*{
    margin: 5px;
    padding: 5px;
    font-size: 18px;
}
h1{
    margin-right: 30%;
    display: inline-block;
}
header{
    border-bottom: 1px solid gray;
    width:80%;
    margin-bottom: 20px;
}
h2{
    display: inline-block;
    margin-right: 30%;
}
p{
    margin-left: 3%;
    font-size: 22px;
    margin-top: 2%;
}
i, ul{
    margin-left: 5%;
}