<link rel="stylesheet" href="~/css/index.css">

<h1>Welcome to the Dojo Activity Center</h1>
<div id="log">
    @Html.Partial("LoginPartial")
</div>
<div id="reg">
    @Html.Partial("RegistrationPartial")
</div>
