@model activities.Models.LoginViewModel;

<h1>Login</h1>
@if (ViewBag.loginError != null){
        <span>@ViewBag.loginError</span>
    }
<form asp-action="Login" asp-controller="Activities" method="POST">
    <table>
        <tr>
            <td><label asp-for="EmailLog"></label></td>
            <td><input asp-for="EmailLog">
                <span asp-validation-for="EmailLog"></span></td>
        </tr>
        <tr>
            <td><label asp-for="PasswordLog"></label></td>
            <td><input asp-for="PasswordLog">
                <span asp-validation-for="PasswordLog"></span></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit" class="btn btn-default">Login</button></td>
        </tr>
    </table>
</form>