<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Weather API</title>
</head>
<body>
  <h1>Dojo Weather Forecast</h1>
  <div id="links">
    <a href="seattle">Seattle, WA</a>&nbsp;|&nbsp;<a href="sanjose">San Jose, CA</a>&nbsp;|&nbsp;<a href="burbank">Burbank, CA</a>&nbsp;|&nbsp;
    <a href="dallas">Dallas, TX</a>&nbsp;|&nbsp;<a href="dc">Washington, DC</a>&nbsp;|&nbsp;<a href="chicago">Chicago, IL</a>&nbsp;
  </div>
  <router-outlet>
  </router-outlet>

</body>
</html>



