<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Color Picker</title>
    <style>
    #background{
        position:fixed;
        width:100%;
        height:100%;
        top:0px;
        left:0px;
        padding: 30px
    }
    </style>
</head>
<body>
    <div id="background" style="background-color: {{ session['color'] }}">
        <h1>Enter your color values below:</h1>
        <form action="/handle" method="POST">
            Red: <input type="text" name="red">
            <br>
            Green: <input type="text" name="green">
            <br>
            Blue: <input type="text" name="blue">
            <br>
            <p style="color: red"> *All values must be between 1 and 255 </p>
            <input type="submit" value="Show my color!">
        </form>
    </div>
</body>
</html>