*{
    padding: 0px;
    margin: 0px;
}
#wrapper{
    background-color: #EEEEEE;
    width: 970px;
}
#left_table{
    width: 150px;
    height: 360px;
    vertical-align: top;
    display: inline-block;
}
#right_table{
    width: 800px;
    height: 360px;
    vertical-align: top;
    display: inline-block;
}
#bottom_table{
    margin: 22px 0px 14px 0px;
    width: 950px;
    height: 90px;
    vertical-align: top;
    display: inline-block;
}
.bluecell{
    width: 35px;
    height: 35px;
    border: 2px solid gray;
    padding: 2px;
    text-align: center;
    margin: 1px;
    display: inline-block;
    vertical-align: top;
    background-color: #689BFF;
}
.bluecell p{
    font-size: 7px;
    line-height: 7px;
}
.yellowcell{
    width: 35px;
    height: 35px;
    border: 2px solid gray;
    padding: 2px;
    text-align: center;
    margin: 1px;
    display: inline-block;
    vertical-align: top;
    background-color: #FECB00   ;
}
.yellowcell p{
    font-size: 7px;
    line-height: 7px;
}
.pinkcell{
    width: 35px;
    height: 35px;
    border: 2px solid gray;
    padding: 2px;
    text-align: center;
    margin: 1px;
    display: inline-block;
    vertical-align: top;
    background-color: #FD9A98;
}
.pinkcell p{
    font-size: 7px;
    line-height: 7px;
}
.greencell{
    width: 35px;
    height: 35px;
    border: 2px solid gray;
    padding: 2px;
    text-align: center;
    margin: 1px;
    display: inline-block;
    vertical-align: top;
    background-color: #1FCA21;
}
.greencell p{
    font-size: 7px;
    line-height: 7px;
}
.text{
    width:105px;
    height:31px;
    display: inline-block;
    color: red;
    font-size: 9px;
    vertical-align: top;
    padding: 12px 0px 0px 45px;
}
.text p{
    display: inline-block;  
    position: relative;
    left: 53px; 
}
span{
    color: #1913A3;
    font-weight: bold;
    padding: 6px 0px;
    font-size: 15px;
    line-height: 21px;
}
.num{
    width: 43px;
    height: 31px;
    padding: 12px 0px 0px 0px;
    margin: 1px;
    color: red;
    font-size: 9px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    background-color: transparent;
}
.empty{
    width: 43px;
    height: 43px;
    margin: 1px;
    background-color: transparent;
    display: inline-block;
    vertical-align: top;
}