<link rel="stylesheet" href="~/css/index.css">

@if(ViewBag.errors is null && ViewBag.submitted == true){
    <h1>Successfully Registered!</h1>
}
else{
    <h1>Enter your information</h1>
    <form action="submit_form" method="POST">
        <table>
            <tr>
                <td><label for="firstName">First Name</label></td>
                <td><input type="text" name="firstName" id="firstName"></td>
            </tr>
            <tr>
                <td><label for="lastName">Last Name</label></td>
                <td><input type="text" name="lastName" id="lastName"></td>
            </tr>
            <tr>
                <td><label for="age">Age</label></td>
                <td><input type="number" name="age" id="age"></td>
            </tr>
            <tr>
                <td><label for="email">Email Address</label></td>
                <td><input type="email" name="email" id="email"></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" name="password" id="password"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"></td>
                <td></td>
            </tr>
        </table>
    </form>
}
@if (@ViewBag.errors is null){}
else{ 
    <div>
    @foreach(var error in ViewBag.errors){
                <p>@error</p>
            }
    </div>
}

