*{
    padding: 5px;
    margin: 5px;
}
span{
    color: red;
}
h1{
    display: inline-block;
}
table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px 100px 5px 5px;
}