<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'reviewer/css/add_book_style.css' %}">
    <title>Add book and review</title>
</head>
<body>
    <a href="/books">Home</a>
    <a href="../../users/logout">Logout</a>
    <h1>Add a new book title and a review:</h1>
    <form action="/books/add/newbook" method="post">
    {% csrf_token %}
    <label for="title">Book Title:<input type="text" name="title" id="title"></label>
    <br>
    <label for="author">Author: <input type="text" name="author" id="author"></label>
    <br>
    <label for="review">Review: <input type="text" name="review" id="review"></label>
    <br>
    <label for="rating">Rating: <select name="rating" id="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select></label>
    <br>
    <input type="submit" value="Add Book and Review">
    </form>
</body>
</html>