<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User info</title>
</head>
<body>
    <a href="/books">Home</a>
    <a href="../../books/add">Add book and review</a>
    <a href="../logout">Logout</a>
    <h3>User Alias: {{ user.alias }}</h3>
    <h4>Name: {{ user.name }}</h4>
    <h4>Email: {{ user.email }}</h4>
    <h4>Total Reviews: {{ user.userReviews.all|length }}</h4>

    <h2>Posted reviews on the following books:</h2>
        {% for name, id in books.items %}
            <a href="../../books/{{ id }}">{{ name }}</a>
        {% endfor%}
</body>
</html>