table{
    border-collapse: collapse;
}
table, th, td{
    border: 2px solid black;
    padding: 7px 40px 7px 7px;
}
.green{
    background-color: green;
    color: white;
}
.red{
    background-color: red;
    color: white;
}
.yellow{
    background-color: yellow;
}