<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
</head>
<body>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            {% for message in errors %}
                <p style="color:red">Error: {{message}}</p>
            {% endfor %}
            <p style="color:red">Please, correct the information</p>
        {% endif %}
    {% endwith %}
    {% if session.activeUser %}
        <p>Logged in as: {{ session.userName[0]['name'] }} </p>
        <form action="/logout" method="POST">
        <input type="submit" value="Log Off">
        </form>
    {% endif %}
    <h2>Register</h2>
    <form action="/register" method="POST">
        <label for="first_name">First Name: <input type="text" name="first_name"></label> 
        <br>
        <label for="last_name">Last Name: <input type="text" name="last_name"></label>
        <br>
        <label for="email">Email: <input type="text" name="email"></label>
        <br>
        <label for="password">Password: <input type="password" name="password"></label>
        <br>
        <label for="password_conf">Password confirm: <input type="password" name="password_conf"></label>
        <br>
        <input type="submit" value="Register">
    </form>
    <h2>Login</h2>    
    <form action="/login" method="post">
        <label for="email">Email: <input type="text" name="email"></label>
        <br>
        <label for="password">Password: <input type="password" name="password"></label>
        <br>
        <input type="submit" value="Login">
    </form>
</body>
</html>