<h2>Register a restaurant</h2>
<form (submit)="createRestaurant()">
  <label for="newRestaurant.name">Restaurant Name:</label>
  <br>
  <input type="text" [(ngModel)]="newRestaurant.name" name="newRestaurant.name" id="newRestaurant.name" required minlength="3" #name="ngModel"> 
  <br>
  <p *ngIf="errorsOn && !name.valid"><span>Restaurant names must contain at least three characters!</span></p>
  <label for="newRestaurant.cuisine">Cuisine:</label>
  <br>
  <input type="text" [(ngModel)]="newRestaurant.cuisine" name="newRestaurant.cuisine" id="newRestaurant.cuisine" required minlength="3" #cuisine="ngModel">
  <br>
  <p *ngIf="errorsOn && !cuisine.valid"><span>Cuisine description must contain at least three characters!</span></p>
  <button (click)="cancel()" id="cancelButton">Cancel</button>
  <input type="submit" id="submitButton" value="Register">
</form>